.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 709px;
  margin-right: 32px;
  margin-top: 183px;
  margin-bottom: 28px;
}

.header__span-accent {
  display: flex;
  font-family: "Noto Serif", Times, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  left: 80px;
}

.header__description {
  font-family: "Noto Serif", Times New, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  width: 646px;
  height: 568px;
  justify-content: flex-end;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__timetable {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  color: #838383;
  margin: 0;
}

.header__address {
  display: flex;
  margin-top: auto;
  position: absolute;
  right: 80px;
  bottom: 40px;
}
